- if @projects.empty?
  .blank_slate
    %p None yet, huh?
    %h1
      Why don't you
      = succeed "?" do
        %a{ :href => "/new" } create your first project
- else
  %ul#projects
    - @projects.each do |project|
      %li{ :class => cycle("even", "odd") + (project.building? ? ' building' : '') + (project.last_build ? (project.last_build.successful? ? ' success' : ' failed') : '') }
        %a{ :href => project_url(project) }&= project.name
        .meta
          
          - short_commit_identifier = project.current_commit_identifier ? project.current_commit_identifier : "unknown commit id"
          - shortened_commit_message = project.shortened_current_commit_msg + "..."
          
          - if project.building?
            = "Building <b>#{short_commit_identifier}</b> (#{shortened_commit_message}) for #{pretty_time_since(project.started_build_at)}"
          - elsif project.last_build.nil?
            Never built yet
          - else
            = "Built <b>#{short_commit_identifier}</b> (#{shortened_commit_message}) "
            = project.last_build.successful? ? "successfully" : "and failed"
  %p#new
    %a{ :href => "/new" } Add a new project
